{% extends 'base.html' %}{% load staticfiles %} {% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/shannon.css' %}" /> {% endblock %} {% block content %}
<div class="sidenav" id="mySidenav">
    <a id="closebtn">&times;</a>
    <a href="#">Username</a>
    <a href="#">Classes</a>
    <a href="#">Assessments</a>
</div>

<div class="btn" id="toggleNav"><span class="glyphicon glyphicon-align-justify"></span></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <h1>Create an Assessment</h1>
            <hr>
        </div>
    </div>
    <form class="col-md-6 col-md-offset-2 form-horizontal">
        <div class="form-group">
            <label for="assignmentName">Assessment Name:</label>
            <input type="text" class="form-control" id="assessmenttName" placeholder="ex. TeacherName_Topic">
        </div>
        <div class="form-group">
          <label for="grade">What grade level is your assessment for?</label>
          <select class="form-control">
              <option>K</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
          </select>
        </div>
        <!-- Somehow filter questions after this step to then find out possible topics -->
        <div class="form-group">
          <label for="topic">What topic(s) should your assessment cover?</label>
          <select multiple class="form-control">
            {% for topic in Question.concept %}
              <option>{{ topic }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="flavor">What type(s) of questions should be on your assignment?</label>
          <select multiple class="form-control">
            {% for flavor in Question.flavor %}
              <option>{{ flavor }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="form-group">

      <button type="submit" class="btn btn-default">Make Assessment</button>

  </div>
    </form>

</div>

{% endblock %}
