{% extends 'base.html' %} {% load static %} {% block title %} eduFactor | Practice {% endblock %}{% block content %}
<div class="container question" id="{{ question.id }}" user="{{ user.id }}">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-3">
            <h3 id='description1'>{{ question.flavor.description }}</h3>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-3">
                <h2 id='questionTitle'>{{ question.title }}:</h2>
            </div>
        </div>
        <div class="row">
            <div id="selectionGroup" class="col-lg-8 col-lg-offset-3">
                <h4>Possible Answers | Drag the answers to the correct boxes!</h4>
                <div>
                    <div class="ui-widget-content">
                        {% for answer in answers %}
                        <p class="draggable" value="{{ answer }}">{{ answer }}</p>
                        {% endfor %}
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-3">
                {% for key, value in solutions.items %}
                <div class="droppable" id='{{ key }}' value='{{ value }}'>
                    <h4 id='dropbox'>{{ key }}</h4>
                </div>
                {% endfor %}
              </div>
              </div>
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-3">{% if pager.has_next %}
                  <a id="nextPage" href="?page={{ pager.next_page_number }}" class="btn btn-default">Next Question</a>
                  {% else %}
                  <a id="nextPage" href="{% url 'student' user.id %}" class="btn btn-default">Great job!</a>
                  {% endif %}
            </div>
          </div>

</div>
{% endblock %} {% block scripts %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="{% static 'js/ddqprac.js' %}"></script>
{% endblock %}
