{% extends 'base.html' %}
{% load static %}
{% block title %}
eduFactor | Practice
{% endblock %}

{% block content %}
<div class="container question" id="{{ question.id }}" user="{{ user.id }}">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h3 id="description">{{ question.flavor.description }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h2>{{ question.title }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 selectionGroup">
      <h4>Show your answer below!</h4>
      <table class="table table-bordered">
        <tr>
        {% for i in table_cells %}
        <td></td>
        {% endfor %}
        </tr>
      </table>
      <input type="hidden" value="{{ question.solution }}" class="questionSolution">
      <hr>
    </div>
  </div>
      <div class='row'>
        <div class="col-lg-6 col-lg-offset-3">
          {% if pager.has_next %}
          <a id="nextPage" href="?page={{ pager.next_page_number }}" class="btn btn-default">Next Question</a>
          {% elif not pager.has_next and user.is_authenticated %}
            <a id="submit" href="{% url 'student' user.id %}" class="btn btn-default">Great job!</a>
            {% else %}
            <a id="submit" href="{% url 'register' %}" class="btn btn-default">Great job!</a>
          {% endif %}
        </div>
      </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static "js/ffiqprac.js" %}"></script>
{% endblock %}
