 {% extends 'base.html' %} {% load static %} {% block title %} eduFactor | Practice {% endblock %} {% block content %}
<div class="container question" id="{{ question.id }}" user="{{ user.id }}">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-3">
            <h3>{{ question.flavor.description }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-3">
            <h2>{{ question.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="selectionGroup" data-toggle="buttons">
                <h4>Possible Answers | Select the answer(s)!</h4> {% for answer in answers %}
                <label id='msbuttons' class="btn btn-primary btn-lg">
                    <input class="answers" type="checkbox" autocomplete="off" value="{{ answer }}">{{ answer }}
                </label>
                {% endfor %}
                <br> {% for solution in correct %}
                <input type="hidden" value="{{ solution }}" class="questionSolution"> {% endfor %}
                <hr>
            </div>
            {% if pager.has_next %}
            <a id="nextPage" href="?page={{ pager.next_page_number }}" class="btn btn-default">Next Question</a>
            {% elif not pager.has_next and user.is_authenticated %}
              <a id="submit" href="{% url 'student' user.id %}" class="btn btn-default">Great job!</a>
              {% else %}
              <a id="submit" href="{% url 'register' %}" class="btn btn-default">Great job!</a>
            {% endif %}
          </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="{% static "js/msqprac.js" %}"></script>
{% endblock %}
