{% extends 'base.html' %}
{% load static %}
{% block title %}
eduFactor | Practice
{% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/practice_landing.css' %}"> {% endblock %}
{% block content %}
<div class="aligner-item">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Assessments by Grade Level</h2>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Third Grade</h3>
      <hr>
      <p class="card-text">A 10 question assessment organized to practice answering questions at the third grade level.</p>
      <a href="{% url 'practice_detail' 1 %}" name='level' method="get" class="btn btn-primary">Start Practicing!</a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Fourth Grade</h3>
      <hr>
      <p class="card-text">A 10 question assessment organized to practice answering questions at the fourth grade level.</p>
      <a href="{% url 'practice_detail' 1 %}" name='level' method="get" class="btn btn-primary">Start Practicing!</a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Fifth Grade</h3>
      <hr>
      <p class="card-text">A 10 question assessment organized to practice answering questions at the fifth grade level.</p>
      <a href="{% url 'practice_detail' 1 %}" name='level' method="get" class="btn btn-primary">Start Practicing!</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Assessments by Question Type</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Multiple Choice</h3>
      <hr>
      <p class="card-text">A 10 question assessment organized to practice answering multiple choice questions.</p>
      <a href="#" class="btn btn-primary">Start Practicing!</a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Fill in the Blank</h3>
      <hr>
      <p class="card-text">A 10 question assessment organized to practice answering fill in the blank questions.</p>
      <a href="#" class="btn btn-primary">Start Practicing!</a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Graph</h3>
      <hr>
      <p class="card-text">A 10 question assessment organized to practice answering graph building questions.</p>
      <a href="#" class="btn btn-primary">Start Practicing!</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Drag and Drop</h3>
      <hr>
      <p class="card-text">A 10 question assessment organized to practice answering drap and drop questions.</p>
      <a href="#" class="btn btn-primary">Start Practicing!</a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Multiple Select</h3>
      <hr>
      <p class="card-text">A 10 question assessment organized to practice answering multiple select questions.</p>
      <a href="#" class="btn btn-primary">Start Practicing!</a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-block">
      <h3 class="card-title">Fraction Fill In</h3>
      <hr>
      <p class="card-text">A 10 question assessment organized to practice answering fraction fill in questions.</p>
      <a href="#" class="btn btn-primary">Start Practicing!</a>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
