{% extends 'base.html' %}
{% load static %}
{% block title %}
eduFactor | Practice
{% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/practice_landing.css' %}"> {% endblock %}
{% block content %}
<div class="aligner-item">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Assessments by Grade Level</h2>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-4">
    <a href="{% url 'level' 3 %}" name='level' method="get">
    <div class="card card-block">
      <h3 class="card-title">Third Grade</h3>
      <hr>
      <p class="card-text">A 10 question assessment organized to practice answering questions at the third grade level.</p>
    </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="{% url 'level' 4 %}" name='level' method="get">
    <div class="card card-block">
      <h3 class="card-title">Fourth Grade</h3>
      <hr>
      <p class="card-text">A 10 question assessment organized to practice answering questions at the fourth grade level.</p>
    </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="{% url 'level' 5 %}" name='level' method="get">
    <div class="card card-block">
      <h3 class="card-title">Fifth Grade</h3>
      <hr>
      <p class="card-text">A 10 question assessment organized to practice answering questions at the fifth grade level.</p>
    </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Assessments by Question Type</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <a href="{% url 'flavor' 'choice' %}" name='flavor' method='get'>
    <div class="card card-block">
      <h3 class="card-title">Multiple Choice</h3>
      <hr>
      <img src="{% static 'images/multiple_choice.png' %}" height="100" width="100"></img>
      <!-- <p class="card-text"><img src="{% static 'images/multiple_choice.png' %}" height="30" width="30"></img></p> -->
    </div>
      </a>
  </div>
  <div class="col-sm-4">
    <a href="{% url 'flavor' 'fill' %}" name='flavor'>
    <div class="card card-block">
      <h3 class="card-title">Fill in the Blank</h3>
      <hr>
      <img src="{% static 'images/input.png' %}" height="100" width="100"></img>
      <!-- <p class="card-text">A 10 question assessment organized to practice answering fill in the blank questions.</p> -->
    </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="{% url 'flavor' 'bar' %}" name='flavor'>
    <div class="card card-block">
      <h3 class="card-title">Graph</h3>
      <hr>
      <img src="{% static 'images/graph.png' %}" height="100" width="100"></img>
      <!-- <p class="card-text">A 10 question assessment organized to practice answering graph building questions.</p> -->
      </div>
  </div>
</a>
</div>
<div class="row">
  <div class="col-sm-4">
      <a href="{% url 'flavor' 'drag' %}" name='flavor' method='get'>
    <div class="card card-block">
      <h3 class="card-title">Drag and Drop</h3>
      <hr>
      <img src="{% static 'images/drag.png' %}" height="100" width="100"></img>
      <!-- <p class="card-text">A 10 question assessment organized to practice answering drap and drop questions.</p> -->
    </div>
  </a>
  </div>
  <div class="col-sm-4">
    <a href="{% url 'flavor' 'select' %}" name='flavor' method='get'>
    <div class="card card-block">
      <h3 class="card-title">Multiple Select</h3>
      <hr>
      <img src="{% static 'images/multiple_select3.png' %}" height="100" width="100"></img>
      <!-- <p class="card-text">A 10 question assessment organized to practice answering multiple select questions.</p> -->
    </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="{% url 'flavor' 'fraction' %}" name='flavor' method='get'>
    <div class="card card-block">
      <h3 class="card-title">Fraction Fill In</h3>
      <hr>
      <img src="{% static 'images/fraction.png' %}" height="100" width="100"></img>
      <!-- <p class="card-text">A 10 question assessment organized to practice answering fraction fill in questions.</p> -->
    </div>
    </a>
  </div>

</div>
</div>
</div>
{% endblock %}
