{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block link %}
    {% endblock %}
</head>

<body>
  <div class="sidenav" id="mySidenav">
    <p id="hello"><a href="/">eduFactor</a></p>
    <hr>
    {% if user.is_authenticated %}
    <p id="hello">Hello, {{ user.username }}!</p>
    <form method="post" action="/logout/">
      {% csrf_token %}
      <button type="submit" name="logout" class="btn btn-default">Logout</button>
    </form>
    {% else %}
    <form method="post" action="/login/">
      {% csrf_token %}
      <div class="form-group">
        <input class="form-control" type="text" placeholder="username" name="username">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" placeholder="password" name="password">
      </div>
      <button type="submit" name="button" class="btn btn-default">Login</button> <a name="register" type="link" class="btn btn-default" href="/register/">Register</a>
    </form>
    {% endif %}
    <hr>
    <a id="sidenav-link" href="#">About</a>
  </div>
    {% block content %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/style.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>
