<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}{% endblock %} {% load staticfiles %}
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> {% block link %} {% endblock %}
</head>

<body>
  <div class="sidenav" id="mySidenav">
    <form>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="username">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" placeholder="password">
      </div>
    </form>



      <button type="submit" name="button">Login</button>
      <a href="#">Classes</a>
      <a href="#">Assessments</a>
  </div>
    {% block content %}{% endblock %} {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/style.js' %}"></script>
    {% endblock %}
</body>

</html>
