{% extends "base.html" %}
{% load staticfiles %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<div class="aligner-item">
<div class="container">
  <div class="row" id="heading">
    <div class="col-md-12">
      <h2>Practice Makes Perfect</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <a href="{% url 'question_detail' 1 %}" name='level' method="get">
      <div class="card card-block">
        <h3 class="card-title">Tutorial</h3>
        <hr>
        <h5 class="card-subtitle text-muted">Answer questions with hints and next steps.</h5>
        <img src="../static/images/kidraisinghand.jpg" alt="Card image" id="kids">

      <div class="card-block">
        <p class="card-text">Learn what each type of question is asking you to do and make sure you know how to answer it. Follow the step by step instructions for how to work through each question type.</p>
      </div>
    </div>
    </a>
    </div>
    <div class="col-lg-6">
      <a href="{% url 'practice' %}" name='level' method="get">
      <div class="card card-block">
        <h3 class="card-title">Practice</h3>
        <hr>
        <h5 class="card-subtitle text-muted">Answer questions with no hints.</h5>
      <img src="http://languagemagazine.com/internetedition/images/managing-diversity_jan15.jpg" alt="Card image" id="kids">
      <div class="card-block">
        <p class="card-text">Build your confidence by practicing the different types of questions. Choose questions based on type of question or grade level content. Use the feedback you receive to see what to work on next.</p>
      </div>
    </div>
  </a>
    </div>
  </div>
</div>
</div>
{% endblock %}
