{% extends "base.html" %}
{% load staticfiles %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<div class="aligner-item">
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="page-header">
        <h3 id="welcome">Welcome to eduFactor<small> | Practice makes perfect</small></h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card card-block">
        <h4 class="card-title">Tutorial</h4>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      <img src="http://languagemagazine.com/internetedition/images/managing-diversity_jan15.jpg" alt="Card image" id="kids">
      <div class="card-block">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    </div>
    <div class="col-lg-6">
      <div class="card card-block">
        <h4 class="card-title">Practice</h4>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      <img src="http://languagemagazine.com/internetedition/images/managing-diversity_jan15.jpg" alt="Card image" id="kids">
      <div class="card-block">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
