.container {
  padding: 10px;
  margin-top: 10px;
  width: 1000px;
}

.navbar-default {
  background-color: #485052;
}

ul.nav.navbar-nav li a:hover {
  color: #FFFFFF;
}

#hello {
  color: #74CFe4;
}

#brand {
  color: #74CFe4;
  font-size: 22px;
}

#about {
  color: #6dc090;
}

#tut {
  color: #ECBE45;
}

#pract{
  color: #EF754A;
}

.site-wrapper {
 display: table;
 width: 100%;
 height: 100%;
 min-height: 100%;
 padding-top: 1cm;
}

.draggable, .draggable-nonvalid {
  width: 50px;
  height: 25px;
  background: #6DC090;
  text-align: center;
  float: left;
  margin: 10px 10px 10px 0;
  z-index: 1;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: #485052;
}

 .droppable {
   width: 150px;
   height: 100px;
   padding: 0.5em;
   background: #74CFe4;
   float: left;
   margin: 10px;
   text-align: center;
   border-style: solid;
   border-width: medium;
   border-color: #485052;
 }

*{
  font-family: 'Open Sans', sans-serif;
  color: #485052;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}


#kids {
  width: 24em;
  height: 18em;
}

/*fraction-fill-in question*/
.clicked {
  background-color: #6dc090
}
