.container {
  padding: 20px;
  margin-top: 25px;
  width: 1000px;
}

.navbar-default {
  background-color: #485052;
}

ul.nav.navbar-nav li a:hover {
  font-weight: bold;
}

#about {
  color: #6dc090;
}

#tut {
  color: #ECBE45;
}

#pract{
  color: #EF754A;
}


.site-wrapper {
 display: table;
 width: 100%;
 height: 100%;
 min-height: 100%;
 padding-top: 1cm;
}

.draggable, .draggable-nonvalid {
  width: 50px;
  height: 25px;
  background: #E4E4E4;
  text-align: center;
  float: left;
  margin: 10px 10px 10px 0;
  z-index: 1;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
}

 .droppable {
   width: 100px;
   height: 100px;
   padding: 0.5em;
   background: #74CFe4;
   float: left;
   margin: 10px;
   text-align: center;
   border-style: solid;
   border-width: medium;

 }


*{
  font-family: 'Montserrat', sans-serif;
  color: #485052;
}

h1, h2, h3, h4 {
  font-family: 'Rancho', cursive;
  color: #EF754A;
}

#hello {
  font-size: 25px;
  color: #74CFe4;
}

#kids {
  width: 24em;
  height: 18em;
}

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  #sidenav-link {font-size: 18px;}
}*/
