span {
  padding-left: 0.08em;
  padding-right: .5em;
  line-height: 1.2em;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-indent: 0px;
}

.popover {
  min-width: 5.5cm;
  max-width: 100%;
}

.popover.bottom {
  min-width: 10cm;
}

#guessForm {
  padding-right: .5em;
}

#selectionGroup{
  padding-left: 0.08em;
}
