span {
  padding-left: 0.08em;
  padding-right: .5em;
  line-height: 1.2em;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-indent: 0px;
}

.popover {
  max-width: 8cm;
}


#guessForm {
  padding-right: .5em;
}

#selectionGroup{
  padding-left: 0.08em;
}
