{% extends 'base.html' %} {% load static %} {% block title %} eduFactor | Question {% endblock %} {% block scripts %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="{% static 'js/ddq.js' %}"></script>
{% endblock %} {% block content %}
<div class="container">
<div class="row">
        <div class="col-lg-9 col-lg-offset-3">
            <h4 id='description'>{{ question.flavor.description }}<button id="descriptionButton" class="btn btn-default">Next</button></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-lg-offset-3">
            <h1 id='questionTitle'>{{ question.title }}<button id="titleButton" class="btn btn-default">Next</button></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-lg-offset-3" id="selectionGroup">
            <h4>Answers<span id="selectButton">| Drag the answer to the correct box!</span></h4>
            <form class="form-inline">
                <div class="form-group">
                    <div class="ui-widget-content">
                        {% for answer in answers %}
                        <p class="draggable" value="{{ answer }}">{{ answer }}</p>
                        {% endfor %}
                        <hr>
                    </div>
                </div>
                <div>
                  {% for key, value in solutions.items %}
                    <div class="droppable" id='{{ key }}' value='{{ value }}'>
                        <h4 id='dropbox'>{{ key }}</h4>
                    </div>
                    {% endfor %}
            </form>
            <hr>
            <button id="nextPage" class="btn btn-default">Next Question</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
