{% extends 'base.html' %} {% load static %} {% block title %} eduFactor | Tutorial {% endblock %} {% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tutorial.css' %}"> {% endblock %} {% block content %}
<div class="container question">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-3">
            <h3><span id='description'>{{ question.flavor.description }}</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-3">
            <h2><span id='questionTitle'>{{ question.title }}:</span></h2>
        </div>
    </div>
    <div class="row">
        <div id="selectionGroup" class="col-lg-8 col-lg-offset-3">
            <h4>Possible Answers | Drag the answers to the correct boxes!</h4>
            <div>
                <div class="ui-widget-content">
                    {% for answer in answers %}
                    <p class="draggable" value="{{ answer }}">{{ answer }}</p>
                    {% endfor %}
                    <hr>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-lg-8 col-lg-offset-3">
                {% for key, value in solutions.items %}
                <div class="droppable" id='{{ key }}' value='{{ value }}'>
                    <h4 id='dropbox'>{{ key }}</h4>
                </div>
                {% endfor %}
                <input type="hidden" value="{{ question.solution }}" id="questionSolution">
                <hr>
              </div>
                <div>
                <button id="nextPage" class="btn btn-default">Next Question</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="{% static 'js/ddq.js' %}"></script>
{% endblock %}
