{% extends 'base.html' %} {% load static %} {% block title %} eduFactor | Tutorial {% endblock %} {% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tutorial.css' %}"> {% endblock %} {% block content %}
<div class="container question">
    <div class='row'>
        <div class="col-lg-6 col-lg-offset-3">
            <h3><span id="description">{{ question.flavor.description }}:</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h2><span id="questionTitle">{{ question.title }}</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 selectionGroup">
            <h4><span>Show your answer below!</span></h4>
            <table class="table table-bordered">
                <tr>
                    {% for i in table_cells %}
                    <td></td>
                    {% endfor %}
                </tr>
            </table>
            <input type="hidden" value="{{ question.solution }}" class="questionSolution">
            <hr>
        </div>
        <div class='row'>
          <div class="col-lg-2 col-lg-offset-3" id="nextQuestion">
            <button id="nextPage" class="btn btn-default">Next Question</button>
          </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script src="{% static "js/ffiq.js" %}"></script>
{% endblock %}
