{% extends 'base.html' %}
{% load static %}
{% block title %}
eduFactor | Question
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="{% static "js/msq.js" %}"></script>
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-9 col-lg-offset-3">
      <h4 id="description">{{ question.flavor.description }}<button id="descriptionButton" class="btn btn-default">Next</button></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-lg-offset-3">
      <h1 id="questionTitle">{{ question.title}}<button id="titleButton" class="btn btn-default">Next</button></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-lg-offset-3">
      <h4>Answers <span id="selectButton">| Please click each section you want shaded in!</span></h4>

    </div>
  </div>
</div>
{% endblock %}
