{% extends 'base.html' %}
{% load static %}
{% block title %} eduFactor | Tutorial {% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/graph.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/tutorial.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h3><span id="title">{{ question.title }}</span></h3>
      <input type="hidden" value="{{ correct }}" id="correct">
      <hr>
      <table class="table table-bordered" id="dataTable">
        <thead>
          <tr>
            {% for item in correct.keys %}
            <td>{{ item }}</td>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for item in correct.values %}
            <td>{{ item }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
      <hr>
      <button id="nextPage" class="btn btn-default">Next Question</button>
    </div>
    <div class="col-lg-6">
      <table class="table" id="graph">
        <caption id="graphTitle"><b>{{ graph_title }}</b></caption>
        <colgroup>
          <col class="ylabels"></col>
          {% for label in x_labels %}
          <col class="col{{ forloop.counter }}"></col>
          {% endfor %}
        </colgroup>
        <tfoot>
          <tr>
            <td></td>
            {% for label in x_labels %}
            <td class="xlabels">{{ label }}</td>
            {% endfor %}
          </tr>
        </tfoot>
        <tbody>
          {% for label in y_labels %}
            <tr>
              <td class="ylabels">{{ label }}</td>
              {% for label in x_labels %}
              <td class="col{{ forloop.counter }}"></td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static "js/graph.js" %}"></script>
{% endblock %}
