{% extends 'base.html' %}
{% load static %}
{% block title %} eduFactor | Student {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-lg-offset-3">
            <h1>{{ question.title }}</h1>
          </div>
        </div>
    <div class="row">
        <div class="col-lg-9 col-lg-offset-3">
        <ul>
          {% for answer in incorrect %}
          <li>{{ answer }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
</div>
{% endblock %}
