{% extends 'base.html' %}
{% load static %}
{% block title %}
eduFactor | Student
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/student.css' %}">
{% endblock %}

{% block content %}
<div class="container" id="student">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="page-header">
        <h1>Friendly Message</h1>
      </div>
      <br>
      <button type="button" class="btn btn-info btn-lg">Active Test Name</button>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
