{% extends 'base.html' %}
{% load static %}
{% block title %}
eduFactor | Student
{% endblock %}

{% block content %}
<div class="container" id="student">
  <div class="row">
    <div class="col-lg-9 col-lg-offset-3">
      <div class="page-header">
        <h3>{{ student.username }}</h3>
      </div>
      {% for flavor_name, total in correct.items %}
      <p>{{ flavor_name }}: {{ total }}</p>
      {% endfor %}
        <!-- <h3>Completed Activities</h3>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-lg-offset-3">
      <p>Stars to fill in as activities are completed</p>
      <ul>
          {% for i in correct %}
          <img src="{% static 'images/star.png' %}" alt="" />
          {% endfor %}
      </ul>
      <br>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-9 col-lg-offset-3">

      <!-- <a href="{{ the_url }}" class="btn btn-default">Let's do some math!</a> -->
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
