{% extends 'base.html' %}
{% load static %}
{% block title %}
eduFactor | Profile
{% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/student.css' %}">
{% endblock %}
{% block content %}
<div class="container" id="student">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="page-header">
        <h3>{{ student.first_name }}<small> | You have answered {{ total }} questions. <a href="/practice/{{ focus }}">Go answer more!</a></small></h3>
      </div>
      <div id="chart">
        <h3>Attempted Questions by Type</h3>
        <svg width="960" height="500"></svg>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="http://nvd3.org/assets/lib/d3.v3.js"></script>
<script src="http://nvd3.org/assets/js/nv.d3.js"></script>
<script>
data = {{ attempted|safe }}
</script>
<script src="{% static "js/student.js" %}"></script>
{% endblock %}
