{% extends 'base.html' %}
{% load static %}
{% block title %}
eduFactor | Tutorial
{% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tutorial.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
          <h3><span id='description'>{{ question.flavor.description }}</span></h3>
      </div>
  </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h2><span id='questionTitle'>{{ question.title }}</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <form class="form-inline">
            <div class="form-group" id="guessForm">
              <h4><label for="guess"><span id="answerSection">Answer | Enter the answer!</span></label></span>
              <input type="text" class="form-control" id="guess">
              <input type="hidden" value="{{ question.solution }}" id="answer">

            </div>
            <input class='btn btn-default' type="submit" value="Submit" id="submit">
          </form>
          <hr>
            <button id="nextPage" class="btn btn-default">Next Question</button>
        </div>
    </div>

</div>
{% endblock %}
{% block scripts %}
<script src="{% static "js/fitbq.js" %}"></script>
{% endblock %}
